#geel {
  background-color: yellow;
  color:black;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#geel a:link,a:visited,a:hover,a:active{
	text-decoration: none;
	color: darkcyan;
}
#paars {
  background-color: purple;
  color:white;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.container {
  padding-left:0px;
  margin-top: 20px;
}

.logo{
  margin: auto;
}

.footer {
    margin-top: 50px;
	margin: 50px;
    text-align: center;
	background-color: blue;
}


