#geel {
  background-color: yellow;
  color:black;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#paars {
  background-color: purple;
  color:white;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.container {
  padding-left:0px;
  margin-top: 20px;
}

.logo{
  margin: auto;
}

a.afspraak:link{
  text-decoration:none;
  color: white;
}
a.afspraak:visited{
  text-decoration:none;
  color: white;
}
a.afspraak:hover{
  text-decoration:none;
  color:white;
}
a.afspraak:active{
  text-decoration:none;
  color:white;
}

a.contact:link{
  text-decoration:none;
  color: black;
}
a.contact:visited{
  text-decoration:none;
  color: black;
}
a.contact:hover{
  text-decoration:none;
  color: black;
}
a.contact:active{
  text-decoration:none;
  color: black;
}

foot{
  background-color: black;
}




