#geel {
  background-color: yellow;
  color:black;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#paars {
  background-color: purple;
  color:white;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.container {
  padding-left:0px;
  margin-top: 20px;
}

.logo{
  margin: auto;
}


